body{
    background-color: AntiqueWhite;
}

.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instructions {
    height: 300px;
    width: 400px;
}